@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<Demo_Senco_Admin.Models.ViewModel.SchemeDashboardViewModel>
@{
    int pageSize = Model.PageSize;
    int counter = (Model.PageNumber - 1) * pageSize + 1;
    //int counter = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="form-section">
    <div class="container">

        <form>
            <div class="row">
                <div class="col-lg-3 ">
                    <div class="date-box-part">
                        <input class="form-control datepicker" type="text" placeholder="From Date" name="startdate" value="@ViewBag.StartDateFilter" autocomplete="off">
                        <div class="svg-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-calendar-week" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0     1 .5-.5h1a.5.5  0 0        1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0    1 .5.5v1a.5.5 0 0   1-.5.5h-1a.5.5 0 0      1-.5-.5v-1zm3        0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0   1-.5.5h-1a.5.5 0 0   1-.5-.5v-1z" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1         2-2h1V.5a.5.5  0 0   1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="date-box-part">
                        <input class="form-control datepicker" type="text" placeholder="To Date" name="enddate" value="@ViewBag.EndDateFilter" autocomplete="off">
                        <div class="svg-part">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-calendar-week" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0  1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0   1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5  0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <select class="form-control select-input" id="searchFilter" name="searchFilter">
                        <option value="" @(ViewBag.CurrentFilterSearchFilter == "" ? "Selected" : "")>Search Param</option>
                        <option value="userNo" @(ViewBag.CurrentFilterSearchFilter == "userNo" ? "Selected" : "")>Member Id</option>
                        <option value="customerName" @(ViewBag.CurrentFilterSearchFilter == "customerName" ? "Selected" : "")>User Name</option>
                        <option value="email" @(ViewBag.CurrentFilterSearchFilter == "email" ? "Selected" : "")>Email id</option>
                        <option value="mobile" @(ViewBag.CurrentFilterSearchFilter == "mobile" ? "Selected" : "")>Mobile No.</option>
                    </select>
                </div>
                <div class="col-lg-2" id="searchInputContainer">
                    <input class="form-control" placeholder="Search Value" id="searchInput" name="searchInput" value="@ViewBag.CurrentFilterInputFilter">
                </div>
                <div class="col-lg-2">
                    <div class="button-part">
                        <button class="button btn-submit " type="submit">Search</button>
                        <button class="button btn-submit " type="reset" onclick="ResetForm()">Reset</button>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>
<div class="table-section">
    <div class="container-fluid">
        <div class="table-container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="table-schemes">
                        <div class="schemes">
                            <h4>Scheme Creation</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">SR.NO</th>
                                        <th scope="col">Member Id</th>
                                        <th scope="col">App User Name</th>
                                        <th scope="col">App User Mobile & Email id</th>
                                        <th scope="col">Account Code</th>
                                        <th scope="col">Account Name</th>
                                        <th scope="col">Scheme Code</th>
                                        <th scope="col">Scheme Name</th>
                                        <th scope="col">Scheme Create date</th>
                                        <th scope="col">EMI</th>
                                        <th scope="col">Tenure</th>
                                        <th scope="col">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@counter</td>
                                            <td>@item.UserNumber</td>
                                            <td>@item.UserName</td>
                                            <td>@item.UserMobileNumber | @item.UserEmail</td>
                                            <td>@item.CustomerCode</td>
                                            <td>@item.CustomerName</td>
                                            <td>@item.SchemeCode</td>
                                            <td>@item.SchemeName</td>
                                            <td>@item.CreatedOn</td>
                                            <td>@item.EMIAmount</td>
                                            <td>@item.SchemeTenure</td>
                                            <td>
                                                <!-- Button trigger modal -->
                                                <a href="@Url.Action("View", "Dashboard", new { id=item.SchemeRegId })" class="view-btn view-bgc viewlink">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                                    </svg>
                                                </a>
                                                <!-- Modal --><!-- Modal -->

                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table footer  -->

<!--Pagination-->
<footer>
    <div class="container">
        <div class="row">
            <div class="pagination">
                @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No, startdate = Request.QueryString["startdate"], enddate = Request.QueryString["enddate"], searchFilter = Request.QueryString["searchFilter"], searchInput = Request.QueryString["searchInput"] }))
            </div>
        </div>
    </div>
</footer>



<!--Export to Excel-->
<div>
    <a class="export-exel-part" title="Export To Excel" href="@Url.Action("ExporttoExcel", "Dashboard")">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
             class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z" />
        </svg>
    </a>
</div>



<!--SCRIPTS-->


<script>
    $('.view-btn').click(function () {
        var url = $(this).attr('href'); 
        $('#modalContent').load(url); 
    });
</script>

@*script for Dropdown*@
<script>
    $(document).ready(function () {
        //console.log("Document is ready");
        $('#searchFilter').change(function () {
            var selectedValue = $(this).val();
            console.log('Selected value:', selectedValue);
            $('#searchInputContainer').show();
            $('#searchInput').attr('placeholder', 'Enter' + selectedValue);

            if (selectedValue == "schemeNo") {
                $('#searchInput').attr('type', 'number');
            }
            else {
                $('#searchInput').attr('type', 'text');
            }

        });

    });

</script>


@*Script for reset form*@
<script>
        function ResetForm()
        {
            window.location.href = '@Url.Action("Index", "Dashboard")';
        }
</script>



@*Script for opening View in Popup*@
<script>
    $(document).ready(function () {
        $('.viewlink').on('click', function (e) {
            e.preventDefault();

            var url = $(this).attr('href');

            // Load the view content into a modal
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    // Create a modal and set its content
                    var modal = $('<div id="myModal" class="modal"></div>');
                    modal.html(data);
                    // Append modal to the body
                    $('body').append(modal);

                    // Open the modal
                    modal.modal('show');

                    //Close the modal when the overlay or close button is clicked
                    modal.on('click', function (event) {
                        if ($(event.target).hasClass('modal') || $(event.target).hasClass('btn-close')) {
                            modal.modal('hide');
                        }
                    });

                    modal.on('hidden.bs.modal', function () {
                        modal.remove();
                    });
                },
                error: function () {
                    alert('An error occurred while loading the view.');
                }
            });
        });
    });
</script>









