@model Demo_Senco_Admin.Models.ViewModel.SchemeDashboardViewModel
@{
    ViewBag.Title = "ViewSchemeDetail";
}

<h2>View Scheme Details</h2>

<div>
    @Html.ActionLink("Back to List", "SchemeDashboard")
</div>

<div>

    <p>Scheme Register Id: @Model.SchemeRegId</p>
    <p>Scheme Member Id: @Model.SchemeMemberId</p>
    <p>Scheme Details:-</p>
    <p>BirthDate: @Model.SchemePayload.BirthDate</p>
    <p>Customer Bank Account No: @Model.SchemePayload.CustomerBankAccountNo</p>
    @*<p>Customer Bank IFSC code: @Model.SchemePayload.CustomerBankIFSCCode</p>
    <p>Customer Bank Name: @Model.SchemePayload.CustomerBankName</p>
    <p>Customer Code: @Model.SchemePayload.CustomerCode</p>
    <p>Customer Name: @Model.SchemePayload.CustomerName</p>
    <p>EMI Amount: @Model.SchemePayload.EMIAmount</p>
    <p>Identity Proof: @Model.SchemePayload.IdentityProof</p>
    <p>Id Proof No: @Model.SchemePayload.IdProofNo</p>
    <p>Minor: @Model.SchemePayload.Minor</p>
    <p>Nominee Address: @Model.SchemePayload.NomineeAddress</p>
    <p>Nominee BirthDate: @Model.SchemePayload.NomineeBirthDate</p>
    <p>Nominee City: @Model.SchemePayload.NomineeCity</p>
    <p>Nominee Country Region Code: @Model.SchemePayload.NomineeCountryRegionId</p>
    <p>Nominee Email: @Model.SchemePayload.NomineeEmail</p>
    <p>Nominee Mobile: @Model.SchemePayload.NomineeMobile</p>
    <p>Nominee Name: @Model.SchemePayload.NomineeName</p>
    <p>Nominee Relation: @Model.SchemePayload.NomineeRelation</p>
    <p>Nominee State: @Model.SchemePayload.NomineeState</p>
    <p>Nominee Telephone: @Model.SchemePayload.NomineeTelephone</p>
    <p>Nominee Zip Code: @Model.SchemePayload.NomineeZipCode</p>
    <p>PassBook No: @Model.SchemePayload.PassbookNo</p>
    <p>Relation with Minor: @Model.SchemePayload.RelationWithMinor</p>
    <p>Scheme Code: @Model.SchemePayload.SchemeCode</p>
    <p>Store: @Model.SchemePayload.store</p>
    <p>Invent Location Id: @Model.SchemePayload.InventLocationId</p>
    <p>KYC Document Id: @Model.SchemePayload.KycDocumentId</p>
    <p>KYC Document No: @Model.SchemePayload.KycDocumentNo</p>*@

</div>

