@model IEnumerable<Demo_Senco_Admin.Models.ViewModel.EMIPaymentViewModel>
@{
    ViewBag.Title = "EMIPaymentDashboard";
}

<h3>EMI Payment Dashboard</h3>


<h6>Search</h6>
@using (Html.BeginForm("EMIPaymentDashboard", "EMIPayment", FormMethod.Get))
{
    <div>
        @*@Html.Label("Search by Scheme No")
            @Html.TextBox("schemeNo", ViewBag.CurrentFilterSchemeNo as int?)

            @Html.Label("Search by Customer Name")
            @Html.TextBox("customerName", ViewBag.CurrentFilterCustomerName as string)

            @Html.Label("Search by Email")
            @Html.TextBox("email", ViewBag.CurrentFilterEmail as string)

            @Html.Label("search by Mobile")
            @Html.TextBox("mobile", ViewBag.CurrentFilterMobile as string)*@

        @Html.Label("Search Parameter")
        @Html.DropDownList("searchFilter", new List<SelectListItem>
            {
                new SelectListItem{Text="Search By", Value=""},
                new SelectListItem{Text="Search by Scheme No", Value="schemeNo"},
                new SelectListItem{Text="Search by Customer Name", Value="customerName"},
                new SelectListItem{Text="Search by Email", Value="email"},
                new SelectListItem{Text="Search by Mobile", Value="mobile"}
            })
        <div id="searchInputContainer">
            <label for="searchInput">Search Input:</label>
            @*<input id="searchInput", name="searchInput  " ,placeholder="Enter Search Value" />*@
            @Html.TextBox("searchInput", null, new { id = "searchInput", placeholder = "Enter Search Value" })
        </div>


        @Html.Label("Search by Payment Status")
        @Html.DropDownList("paymentStatus", new List<SelectListItem>
            {
                new SelectListItem {Text="All", Value=""},
                new SelectListItem{ Text= "Paid", Value="true"},
                new SelectListItem { Text="Unpaid", Value="false"}
            })

        @Html.Label("Search by Start Date")
        @Html.TextBox("startdate", ViewBag.StartDateFilter as string, new { Type = "date" })

        @Html.Label("Search by End Date")
        @Html.TextBox("enddate", ViewBag.EndDateFilter as string, new { Type = "date" })
    </div>
    <button type="submit">Search</button>
    <button type="reset" onclick="ResetForm()">Reset</button>
}


@*Link to convert data to Ecxel*@
<br />
@Html.ActionLink("Export to Excel", "ExporttoExcel")
<br />


<table class="table table-bordered">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.OrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMIno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchemeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankTransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentEntryNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
       
        <th>
            Check Status
        </th>
        <th>
            Create Reciept
        </th>
        <th>
            View Reciept
        </th>
        <th>
            Modify Details
        </th>

    </tr>


    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMIno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankTransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentEntryNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td class="checkpaymentstatus" data-schemeNo="@item.SchemeNo">
                Check
            </td>
            <td>
                @Html.ActionLink("Create", "CreateReciept", new { id = item.SchemeNo })
            </td>
            <td>
                @Html.ActionLink("View", "ViewReciept", new { id = item.SchemeNo })
            </td>
            <td>
                @Html.ActionLink("View&Modify", "ViewandModifyDetail", new { id = item.SchemeNo })
            </td>
        </tr>
    }
</table>




@*Scripts*@
@*Script to Reset Search*@
<script>
        function ResetForm()
        {
            window.location.href = '@Url.Action("EMIPaymentDashboard", "EMIPayment")';
            /*$('#searchForm')[0].reset();*/
        }
</script>


@*script for dropdown*@
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        console.log("Document is ready");
        $('#searchFilter').change(function () {
            var selectedValue = $(this).val();
            console.log('Selected value:', selectedValue);
            $('#searchInputContainer').show();
            $('#searchInput').attr('placeholder', 'Enter' + selectedValue);

            if (selectedValue == "schemeNo") {
                $('#searchInput').attr('type', 'number');
            }
            else {
                $('#searchInput').attr('type', 'text');
            }

        });

    });
    
</script>


@*Script to check Payment status*@
<script>
    $(document).ready(function () {
        $('.checkpaymentstatus').on('click', function () {
            var schemeNo = $(this).data('schemeNo');
            $.ajax({
                URL: '/EMIPayment/EMIPaymentDashboard',
                type: 'GET',
                data: { SchemeNo: schemeNo },
                success: function (data) {
                    alert('Payment Status: ' + data.PaymentStatus);
                },
                error: function () {
                    alert('Error in retriving Payment Status');
                }
            });
        });
    });
</script>