@model Demo_Senco_Admin.Models.ViewModel.EMIPaymentViewModel
@{
    ViewBag.Title = "ViewandModifyDetail";
    Layout = null;
}

<h3>View and Modify Detail</h3>

@using (Html.BeginForm("ViewandModifyDetail", "EMIPayment", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(Model => Model.SchemeNo)
        @Html.TextBoxFor(Model => Model.SchemeNo, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.OrderNo)
        @Html.TextBoxFor(Model => Model.OrderNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.PaymentDate)
        @Html.TextBoxFor(Model => Model.PaymentDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.EMIno)
        @Html.TextBoxFor(Model => Model.EMIno, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Amount)
        @Html.TextBoxFor(Model => Model.Amount, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.PaymentStatus)
        @Html.TextBoxFor(Model => Model.PaymentStatus, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.TransactionId)
        @Html.TextBoxFor(Model => Model.TransactionId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.BankTransactionId)
        @Html.TextBoxFor(Model => Model.BankTransactionId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.PaymentEntryNo)
        @Html.TextBoxFor(Model => Model.PaymentEntryNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.CustomerName)
        @Html.TextBoxFor(Model => Model.CustomerName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.MobileNo)
        @Html.TextBoxFor(Model => Model.MobileNo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Email)
        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.PaymentReciept)
        @Html.TextBoxFor(Model => Model.PaymentReciept, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.PayloadData.id)
        @Html.TextBoxFor(Model => Model.PayloadData.id, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.PayloadData.Status)
        @Html.TextBoxFor(Model => Model.PayloadData.Status, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.PayloadData.Message)
        @Html.TextBoxFor(Model => Model.PayloadData.Message, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Update Details" class="btn btn-primary" />
    </div>
}

<hr />
<hr />

<div>
    <h5>EMI Details:</h5>
    @if (Model.PayloadData.EMI != null)
    {
        foreach (var item in Model.PayloadData.EMI)
        {
            <div>
                <p>EMI id: @item.id</p>
                <p>Cancelled By: @item.CANCELLEDBY</p>
                <p>Installment Month: @item.INSTALLMENTMONTH</p>
                <p>Reciept Id: @item.RECEIPTID</p>
                <p>Cancelled Reason: @item.CANCELLEDREASON</p>
                <p>Tender Type: @item.TENDERTYPE</p>
                <p>Transaction Id: @item.TRANSACTIONID</p>
                <p>Scheme Entry No: @item.SCHEMEENTRYNO</p>
                <p>Payment Year: @item.PAYMENTYEAR</p>
                <p>Payment Type: @item.PAYMENTTYPE</p>
                <p>Payment Month: @item.PAYMENTMONTH</p>
                <p>Payment Entry No: @item.PAYMENTENTRYNO</p>
                <p>Payment Date: @item.PAYMENTDATE</p>
                <p>Payment Amount: @item.PAYMENTAMOUNT</p>
                <p>Linium: @item.LINENUM</p>
                <p>Customer Code: @item.CUSTOMERCODE</p>
                <p>Cancelled: @item.CANCELLED</p>
                <hr />
            </div>
        }
    }
    else
    {
        <p>No Data Available</p>
    }

</div>


@*@if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
{
    <script>
        alert('@Html.Raw(ViewBag.AlertMessage)');
    </script>
}*@