@model Demo_Senco_Admin.Models.ViewModel.EMIPaymentViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Reciept</title>
</head>
<body>
    <div>
        <h3>Reciept</h3>

        <p>Scheme No: @Model.SchemeNo</p>
        <p>Customer Name: @Model.CustomerName</p>
        <p>Mobile No: @Model.MobileNo</p>
        <p>Amount: @Model.Amount</p>
        <p>Transaction Id: @Model.TransactionId</p>
        <p>Bank Transaction Id: @Model.BankTransactionId</p>
        <p>Payment Date: @Model.PaymentDate</p>
        <p>Payment Status: @Model.PaymentStatus</p>
        <button id="printbutton">Print</button>
    </div>

    <script>
        $(document).ready(function () {
            $('#printbutton').on('click', function () {
                window.print();
            });
        });
    </script>
</body>
</html>
