@model Demo_Senco_Admin.Models.ViewModel.EcommerceViewModel
@{
    ViewBag.Title = "View";
    Layout = null;
    int counter = 1;
    <script src="~/Content/js/script.js"></script>
}

<div class="modal fade">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header sticky-header">
                <h5 class="modal-title" id="exampleModalLabel">Transaction Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg class="bi bi-x" fill="currentColor" height="16"
                         viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>

            <div class="modal-body">
                <div>
                    @*<p>Id: @Model.Ecommerce_Id</p>*@

                    @if (Model.Payload != null && Model.Payload.customerInfo != null)
                    {
                        <div>
                            <p>Name: @Model.Payload.customerInfo.name</p>
                            @*<br />*@
                            @*<p>Product Details:-</p>*@
                        </div>
                        <hr />
                        <div>
                            @foreach (var item in Model.Payload.productInfo.items)
                            {
                            <div>
                                <p>Product Id: @item.id</p>
                                <p>@counter. Product Details:-</p>
                                <p>&ensp; Name: @item.name</p>
                                <p>&ensp; Price: @item.price</p>
                                <p>&ensp; Gold Weight: @item.data.gold_weight g & Gold Purity: @item.data.gold_purity %</p>
                                <p>Purity: @item.data.purity</p>
                                <p>Gold Purity: @item.data.gold_purity & Purity: @item.data.purity</p>
                                <br />
                            </div>
                                counter++;
                            }
                            <hr />
                        </div>
                        @*<table>
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Gold Weight</th>
                                    <th>Gold Purity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var data in Model.Payload.productInfo.items)
                                    {
                                        <tr>
                                            <td>@counter</td>
                                            <td>@data.name</td>
                                            <td>@data.price</td>
                                            <td>@data.data.gold_weight</td>
                                            <td>@data.data.gold_purity</td>
                                        </tr>
                                    }
                                
                            </tbody>
                        </table>*@
                        <div>
                            <p>Total Amount: @Model.Payload.paymentInfo.amount</p>
                            <p>Payment Status: @Model.Payload.paymentInfo.status</p>
                        </div>
                            }
                    else
                    {
                        <p>No Data Available</p>
                    }

                </div>
            </div>

            @*<div class="modal-footer sticky-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>*@

        </div>
    </div>
</div>
